@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,900&family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,300&family=Playfair+Display&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hellscape:hover {
    cursor: default;

}

:root {
    --padding-inline-section: 20px;
    --color: #EEF4F6;
    --colorr: #6A98AF;
    --colorrr: #1E3F54;
    --colorrr: #80BBCF;
    --colorrrr: #ECF2F5;
}

.flex {
    display: flex;
    align-items: center;
}

body {
    font-family: 'Poppins', sans-serif;
    height: auto;
}

h1 {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    ;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    line-height: 1.8rem;
}

/*------------------------------------UTILITY-ABOVE-----------------------------------------------------------*/


/*------------------------------------HEADER-BELOW-------------------------------------------------------------*/
.navabove {
    background-image: url(https://github.com/Prathitt/resume/blob/main/bg.png?raw=true);
    background-size: auto;
    flex: auto;
    text-align: center;
    width: auto;
    margin-top: 0px;
    height: auto;
    height: 200px;
    color: aliceblue;
}

.image {
    display: block;
    height: 175px;
    overflow: hidden;
    border: 5px solid rgb(54, 51, 51);
    margin: 0 auto;
    border-radius: 40%;

}
.vh1{
    height: vh;
}
.text {
    margin-top: 10px;
    margin-bottom: px;
    text-shadow: 100px 100px 100px black, 1 0 100px black;
}

.pp {
    font-weight: bold;
    text-shadow: 9px 9px 9px black, 0 0 9px black;
}

.pp:hover {
    color: rgb(179, 158, 158);
    cursor: pointer;
    text-shadow: 100px 100px 100px black, 1 0 100px black;
}

/*------------------------------------HEADER-ABOVE-------------------------------------------------------------*/


/*------------------------------------NAVBAR-BELOW-----------------------------------------------------*/
nav {
    position: absolute;
    height: 60px;
    width: 100%;
    padding: 16px;
    background-color: #1d69a3;
}

nav.sticky {
    position: fixed;
    /* Change to fixed when scrolling past a certain point */
    top: 0;
    z-index: 1000;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

li {
    padding: 0 10px;
}

.as {
    color: white;
    filter: opacity(1.3);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    border: 2px solid #1d69a3;
    padding: 6px 6px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.as:hover {
    text-decoration: double;
    font-size: 25px;
    border: 2px solid #072b46;
    border-radius: 8px;

}


/*------------------------------------NAVBAR-ABOVE-----------------------------------------------------*/


/*-------------------------------------MAIN-CONTENT-BELOW----------------------------------------------*/
.main {
    text-align: center;

}

.welcome {
    padding: 20px;
    margin-top: 50px;

    background-color: var(--color);

}
.line{
    margin-top: 30px;
}
.welcome h1 {
    
    font-size: 2.5rem;
    text-align: center;
}

.welcome h2 {
    font-size: 1.5rem;
    color: #555;
    text-align: center;
}


.welcomee {
    padding: 70px;
    text-align: center;
    background-color: var(--color);

}

.welcomeee {
    display: flex;
    justify-content: center;
    padding: 200px;

}

.sticky {
    position: sticky;
}

.para {
    padding: 30px;
    border: solid var(--colorrr);
    border-radius: 30px;
    background-color: var(--colorrrr);
font-family: 'Courier New', Courier, monospace;
font-size:x-large;
}

.para:hover{
    filter: brightness(1.2);
}
.vh2{
    height: vh;
}

.ed{
    display: flex;
    justify-content: center;

}
.alp{
    justify-content: center space-between;
    border: var(--colorrr) 2px solid;
    padding: 10px;
    width: 25vw;
    margin: 20px;
    background: linear-gradient(to top right,white, rgba(255, 255, 255, 0.534));
}
.alp:hover{
    background: linear-gradient(to top right,rgb(148, 139, 139), rgb(255, 255, 255));

}
.cert{
    width: 200px;
}

.aaaa{
    border: black 1px solid;
    text-decoration: none;
    padding: 5px;
    color: #072b46;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.aaaa:hover{
    border:black 1px solid;
    border-radius: 4px;
    text-decoration: none;
    padding: 5px;
    color: #072b46;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*-------------------------------------MAIN-CONTENT-ABOVE----------------------------------------------*/



/*--------------------------------------------------FOOTER-BELOW---------------------------------------------*/
.footer {
    padding: 30px;
    background-color:var(--colorr);
}

.social-icons {
    display: flex;
    justify-content: center;
}
.ass {
    color: white;
    filter: opacity(1.3);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    border: 2px solid var(--colorr);
    padding: 6px 6px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.ass:hover {
    text-decoration: double;
    font-size: 25px;
    border: 2px solid #072b46;
    border-radius: 8px;

}

/*--------------------------------------------------FOOTER-ABOVE-----------------------------------------------------*/

